
body,html,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body{
    background-color: black;
}


::placeholder,
h1,
h2,
button {
    color: #d3a155;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
button{
    font-size: 12px;
}
h1{
    font-size: 50px;
    text-align: center;

}
h2{
    font-size: 30px;

}
.form-container{
    text-align: center;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-wrap: wrap;
    margin-top: 100px;
}
input{
    margin-bottom: 30px;
    height: 20px;
    width: 300px;
    font-size: 20px;
}
.btn{
    height: 20px;
    width: 50px;

}
.card {
    border: 2rem solid #d3a155;
    padding: 1rem;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 0.5rem;
    width: 300px;
  }
  
.card-header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
.card-img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    
}
